<nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
    <div class="container">
        <div class="yamm navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mc-horizontal-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="/Home/Index" class="dropdown-toggle">Trang chủ</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Sản Phẩm</a>
                        <ul class="dropdown-menu le-links">
                            <li><a href="#">Bán chạy</a></li>
                            <li><a href="#">Chè</a></li>
                            <li><a href="#">Fresh fruit tea</a></li>
                            <li><a href="#">Macchiato</a></li>
                            <li><a href="#">Milk tea</a></li>
                            <li><a href="#">Special drink</a></li>
                            <li><a href="#">Fast food</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Tin Tức</a>
                        <ul class="dropdown-menu le-links">
                            <li><a href="#">Tin mới nhất</a></li>
                            <li><a href="#">Sự kiện</a></li>
                            <li><a href="#">Khuyến mại </a></li>
                            <li><a href="#">Xem tất cả...</a></li>
                        </ul>
                    </li>


                    <li class="dropdown hidden-md">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">Giới Thiệu</a>
                        <ul class="dropdown-menu le-links">
                            <li><a href="#">Giới thiệu cửa hàng</a></li>
                            <li><a href="#">Nhượng quyền/ Thương hiệu</a></li>
                            <li><a href="#">Quy trình sản xuất</a></li>
                            <li><a href="#">Nguồn nguyên liệu</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                        </ul>
                    </li>

                    <li class="dropdown hidden-md">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">Liên Hệ</a>
                        <ul class="dropdown-menu le-links">
                            <li><a href="#">Giới thiệu cửa hàng</a></li>
                            <li><a href="#">Nhượng quyền/ Thương hiệu</a></li>
                            <li><a href="#">Quy trình sản xuất</a></li>
                            <li><a href="#">Nguồn nguyên liệu</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                        </ul>
                    </li>

                    <li class="dropdown hidden-md">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">Thông tin tuyển dụng</a>
                        <ul class="dropdown-menu le-links">
                            <li><a href="#">Tuyển nhân viên bán hàng</a></li>
                            <li><a href="#">Nhân viên ship hàng</a></li>
                        </ul>
                    </li>
                    <li class="dropdown hidden-md">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">Câu hỏi thường gặp</a>
                        <ul class="dropdown-menu le-links">
                            <li><a href="#">Tuyển nhân viên bán hàng</a></li>
                            <li><a href="#">Nhân viên ship hàng</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown">Blog</a>
                        <ul class="dropdown-menu le-links">
                            <li><a href="#">My blog</a></li>
                        </ul>
                    </li>
                </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.navbar -->
    </div><!-- /.container -->
</nav>
