<div class="top-cart-holder dropdown animate-dropdown">

    <div class="basket">

        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="basket-item-count">
                <span class="count">{{CountCart}}</span>
                <img src="~/Assets/Client/images/icon-cart.png" alt="" />
            </div>

            <div class="total-price-basket">
                <span class="lbl">your cart:</span>
                <span class="total-price">
                    <span class="value">{{TotalCart|number:0}}</span><span class="sign">đ</span>
                </span>
            </div>
        </a>

        <ul class="dropdown-menu">
            <li ng-repeat="item in ListShopCart">
                <div class="basket-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 no-margin text-center">
                            <div class="thumb">
                                <img class="lazy" width="73" height="73" alt="" ng-src="~/Images/Img_Project/{{item.Images}}" />
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-8 no-margin">
                            <div class="title">{{item.ProductName}}</div>
                            <p><span class="badge">x{{item.Quantity}}</span></p>
                            <div class="price">{{item.Totals|number:0}} đ</div>
                        </div>
                    </div>
                    <a class="close-btn" href="#" ng-click="DeleteCart(item.ProductID)"></a>
                </div>
            </li>
            <li ng-show="CartNull">
                <div class="basket-item">
                    <div class="price text-center" ng-bind="isNull"></div>
                </div>
            </li>
            <li class="checkout">
                <div class="basket-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="/Cart/Index" class="le-button inverse">View cart</a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <button  href="/Cart/Index" class="le-button {{BanCheckout}}" disabled>Checkout</button>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
