<div id="top-banner-and-menu" class="homepage2">
    <div class="container">
        <div class="col-xs-12">
            <!-- ========================================== SECTION – HERO ========================================= -->

            <div id="hero">
                <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">

                    <div class="item" style="background-image: url('~/Images/Img_Project/Slide/1088x543-02-1.png');">
                        <img src="~/Images/Img_Project/Slide/1088x543.png" />
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left right" style="padding-right:0;">
                                <div class="big-text fadeInDown-1">
                                    Save up to a<span class="big"><span class="sign">$</span>400</span>
                                </div>

                                <div class="excerpt fadeInDown-2">
                                    on selected laptops<br>
                                    &amp; desktop pcs or<br>
                                    smartphones
                                </div>
                                <div class="small fadeInDown-2">
                                    terms and conditions apply
                                </div>
                                <div class="button-holder fadeInDown-3">
                                    <a href="single-product.html" class="big le-button ">shop now</a>
                                </div>
                            </div><!-- /.caption -->
                        </div><!-- /.container-fluid -->
                    </div><!-- /.item -->

                    <div class="item" style="background-image: url('~/Images/Img_Project/Slide/1088x543-02-1.png');">
                        <img src="~/Images/Img_Project/Slide/header-category.jpg" />
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left right" style="padding-right:0;">
                                <div class="big-text fadeInDown-1">
                                    Save up to a<span class="big"><span class="sign">$</span>400</span>
                                </div>

                                <div class="excerpt fadeInDown-2">
                                    on selected laptops<br>
                                    &amp; desktop pcs or<br>
                                    smartphones
                                </div>
                                <div class="small fadeInDown-2">
                                    terms and conditions apply
                                </div>
                                <div class="button-holder fadeInDown-3">
                                    <a href="single-product.html" class="big le-button ">shop now</a>
                                </div>
                            </div><!-- /.caption -->
                        </div><!-- /.container-fluid -->
                    </div><!-- /.item -->

                    <div class="item" style="background-image: url('~/Images/Img_Project/Slide/1088x543.png');">
                        <img src="~/Images/Img_Project/Slide/1088x543-02-1.png" />
                        <div class="container-fluid">
                            <div class="caption vertical-center text-left left" style="padding-left:7%;">
                                <div class="big-text fadeInDown-1">
                                    Want a<span class="big"><span class="sign">$</span>200</span>Discount?
                                </div>

                                <div class="excerpt fadeInDown-2">
                                    on desktop pcs
                                </div>
                                <div class="small fadeInDown-2">
                                    terms and conditions apply
                                </div>
                                <div class="button-holder fadeInDown-3">
                                    <a href="single-product.html" class="big le-button ">shop now</a>
                                </div>
                            </div><!-- /.caption -->
                        </div><!-- /.container-fluid -->
                    </div><!-- /.item -->

                </div><!-- /.owl-carousel -->
            </div>
        </div>
    </div>
    <!-- ========================================= SECTION – HERO : END ========================================= -->
</div>
